<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>실시간 속도 안내</title>
  <link rel="stylesheet" href="../css/velocity.css" />
</head>
<body>
  <div class="direction-header" id="directionHeader"></div>
  <div id="map"></div>
  <div class="hint-box" id="hintBox"></div>

  <!-- Tmap API 스크립트 -->
  <script src="https://apis.openapi.sk.com/tmap/jsv2?version=1&appKey=L3RMA32ZfO5WRNvNlGBCBKuXpGjYV3dlmWlETWb0"></script>
  <script src="../js/velocity.js"></script>
</body>
</html>